
body{
    position:relative;
    background-color:lightgrey;
}

.page-title{
    background-color:black;
}
#page-description{
    color:white;
}

#list-of-steps li:first-child{
 color:red;
}

.Img1:hover{
filter:invert(100%);
}
/*

#CSS Specifity

0.Type selectores(e.g h1,div,header,p)
1.class-selectors (e.g. .example-class)
2.ID selectors (e.g..)

Sometimes we might face with precedence

*/
