body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


label{
    font-size:20px;
    
}

input{
    border: 1px solid black;
    height: 20px;
    width:40%;
    padding:3px;
}

div{
    padding:16px;
}


