body{
    background-color:rgb(25, 187, 241); 
}

h1{
    font-size:20px;
    
}

ul{
    padding:20px;
}

/*The css border style property specifies what kinds of border to display. */

/*
dotted--defines a dotted border
dashed --defines a dashed border
solid--defines a solid border
double-defines a double border

*/


